/* Home.css */

.home {
    height: 100vh; 
    /* Full height of the viewport */
    
    background-image: url('../static/public/bkg_AYUSH3.jpg'); /* Relative path to the image */
    background-size: contain; /* Change this to contain if you want the whole image visible */
    background-position: center; 
    /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* Adjust text color to be visible */
    text-shadow: 2px 2px 5px red;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}
